STANDX_BASE_URL=https://perps.standx.com
STANDX_API_TOKEN=eyJhbGciOiJFUzI1NiIsImtpZCI6IlhnaEJQSVNuN0RQVHlMcWJtLUVHVkVhOU1lMFpwdU9iMk1Qc2gtbUFlencifQ.eyJhIjoiMHhCZTU1RGZEZjk3NzU3MkYxMjc4QTU4OTlkQWJDOEY3N0UyQjE1MmNhIiwiYyI6ImJzYyIsIm4iOiJQT1F3emw0cnp0T3p4elNZdTEiLCJpIjoiMjAyNi0wMi0xMFQwMjo0NTo1OS4yNjVaIiwicyI6InNSZy9saFlBVDE5YlNWdk5RSitBMWlJU3I4YUVScnRDdXJTd0M0Z2pxbWhMaG1pOC85NEVaN3ovZ3E3cTlSekZXc09nOHcwRlFlVkFQTHI2ZWIrS2pSdz0iLCJyIjoiN1BETHoyYU1aVmFBWWhHbnh5c0NaRHNvejhVaUw3M3d0WDg0NWh6alBnQnAiLCJ3IjoyLCJwIjoxLCJpYXQiOjE3NzA2OTE1NzAsImV4cCI6MTc4NjI0MzU3MH0.2b56zVgEzkDBHjgHUojTlJSxQedAyWhqGefX0Hc4tDgSzkwApLt-DugF1FGP_fgeK0Uuh57l0b6qBdz6BYehYQ
STANDX_REQUEST_ED25519_PRIVATE_KEY=7MySWwN3bnT5S21F7k8kFFiDToEc3GjdJqiA7Vtricqj
STANDX_WS_MARKET_URL=wss://perps.standx.com/ws-stream/v1
STANDX_WS_API_URL=wss://perps.standx.com/ws-api/v1
