LIGHTER_BASE_URL=https://mainnet.zklighter.elliot.ai
LIGHTER_ACCOUNT_INDEX="281474976651006"
LIGHTER_API_KEY_INDEX="8"
LIGHTER_API_KEY_PRIVATE_KEY="2b2eb5fd7b1bd3b62e34033b0583b15614c004c7d979075cf299be548dcf66e1fec137d3c3bc8b1d"
LIGHTER_WS_URL=wss://mainnet.zklighter.elliot.ai/stream
